<h2 class="text-center">All Posts</h2>
<hr>
<div class="row">
    <div class="col-md-9">
        <a href="#/posts/add" class="btn btn-primary">Add new Post</a>
    </div>
    <div class="col-md-3">
        <label for="search-tb">Search:</label>
        <input type="text" id="search-tb" class="form-control-static"/>
        <button id="search-btn" class="btn btn-primary ">Go!</button>
    </div>
</div>
<hr>
{{#each this}}
    <div class="row">
        <div class="col-md-2">
            <a href="#/posts">{{title}}</a>
        </div>
    </div>
    <p>
        content: {{body}}
    </p>
    <p>
        made at: {{postDate}}
    </p>
    <p>
        <!--Query string - 3.Redirect to the page with the query string-->
        made by:<a href="#/posts?user={{user.username}}">{{user.username}}</a>
    </p>
    <hr>
{{/each}}
<button id="previous-btn" class="btn btn-primary">Previous</button>
<button id="next-btn" class="btn btn-primary">Next</button>



